@model asp_net_web_mvc_1.Models.Product

@{
    ViewBag.Title = "Detalle del producto";
}

<h1 class="title has-text-centered">Información del Producto</h1>
<div class="columns is-centered">
    <div class="card column">
        <div class="card-content">
            <div class="block">
                <span class="has-text-weight-bold">Codigo:</span>
                <span>@Html.DisplayFor(model => model.Code)</span>
            </div>
            <div class="block">
                <span class="has-text-weight-bold">Nombre:</span>
                <span>@Html.DisplayFor(model => model.Name)</span>
            </div>
            <div class="block">
                <span class="has-text-weight-bold">Descripción:</span>
                <span>@Html.DisplayFor(model => model.Description)</span>
            </div>
            <div class="block">
                <span class="has-text-weight-bold">Precio:</span>
                <span>@Html.DisplayFor(model => model.Price)</span>
            </div>
            <div class="block">
                <div class="block">
                    <span class="has-text-weight-bold">Cantidad Minima:</span>
                    <span>@Html.DisplayFor(model => model.Min_Quantity)</span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            @Html.ActionLink("Editar", "Edit", "Product", new { code = Model.Code }, new { @class = "card-footer-item has-text-weight-bold" })
            @Html.ActionLink("Regresar a la lista", "Index", "Product", null, new { @class = "card-footer-item has-text-weight-bold" })
        </div>
    </div>
</div>
