<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Site</title>
    @Styles.Render("~/Styles/css")
</head>
<body>
    @RenderSection("modal", required: false)
    <div class="container">
        <header>
            <nav class="navbar has-shadow has-text-weight-bold mb-3" role="navigation" aria-label="navigation">
                <div class="navbar-brand">
                    @Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "navbar-item" })
                    <a role="button" id="burgerIcon" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainNavbar">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div id="mainNavbar" class="navbar-menu">
                    <div class="navbar-end">
                        @Html.ActionLink("Productos", "Index", "Product", null, new { @class = "navbar-item" })
                        @Html.ActionLink("Clientes", "Index", "Client", null, new { @class = "navbar-item" })
                        @Html.ActionLink("Facturas", "Index", "Invoice", null, new { @class = "navbar-item" })
                    </div>
                </div>
            </nav>
            @if (TempData["Success"] != null)
            {
                <div class="notification is-success">
                    <button class="delete"></button>
                    <p>@TempData["Success"]</p>
                </div>
            }
            @if (TempData["Error"] != null)
            {
                <div class="notification is-danger">
                    <button class="delete"></button>
                    <p>@TempData["Error"]</p>
                </div>
            }
        </header>
        <main>
            @RenderBody()
        </main>
    </div>
    @Scripts.Render("~/Scripts/js")
    @RenderSection("scripts", required: false)
</body>
</html>
